/*缩放切换效果*/
.zoom-in-center-enter-active,.zoom-in-center-leave-active{transition:all .2s cubic-bezier(.55,0,.1,1)}
.zoom-in-center-enter,.zoom-in-center-leave-active{opacity:0;-ms-transform:scaleX(0);transform:scaleX(0)}
.zoom-in-top-enter-active,.zoom-in-top-leave-active{opacity:1;-ms-transform:scaleY(1);transform:scaleY(1);transition:transform .3s cubic-bezier(.23,1,.32,1) .1s,opacity .3s cubic-bezier(.23,1,.32,1) .1s;-ms-transform-origin:center top;transform-origin:center bottom}
.zoom-in-top-enter,.zoom-in-top-leave-active{opacity:0;-ms-transform:scaleY(0);transform:scaleY(0)}
/*爆炸式切换效果*/
.bounce-enter-active {
  animation: bounce-in 0.1s linear;
}

.bounce-leave-active {
  animation: bounce-out 0.1s linear;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
  }
  100% {
    transform: scale(0);
  }
}
/*渐隐切换效果*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
/*滑出切换效果*/
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

